*,
*::before,
*::after {
  box-sizing: border-box;
}


  /* brand color palette */
  :root {
    --primary-2: #f4e1d2;
    --accent-2:#ffef96;
    --secondary-2:#50394c;
    --tertiary-2:#b2b2b2;
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
}
header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: ; */
    flex-wrap: wrap;
    align-items:center;
    background-color: var(--secondary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}  

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
  }
.wrapper {
  max-height: 80%;
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}
  .container {
  /* font-family: arial, sans-serif; */
  height:100%;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  /* list-style-type: none; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
.page-wrapper {
  max-width: 88%;
  /* display: flex; */
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: left;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
 }
#interact {
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative; 
    /* text-align: justify; */
    /* justify-content: start; */
}
h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
  }

.page-content {
  display:flex;
  flex: 0 0 50%;
  flex-direction:column;
  color: var(--dark);
  line-height: 54px;
  font-size: 1.5em;
  text-align: left;
  justify-content: left;
}
.message-panel > span {
  text-align: center;
  font-size: 3vw;
}
.message-panel > h2 {
  font-size: 4vw;
  font-weight: 700;
  /* line-height: 4vw; */
}
.message-panel > h4 {
  font-size: 3vw;
}
.message-panel {
  margin-top: 20px;
  color:black;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 0 0 100%;
  font-size: 1em;
}

.quiz-question {
  display:flex;
  height: 80%;
  flex: 1 0 70%;
  flex-direction:row;
  margin: 0;
  color: var(--dark);
  line-height: 54px;
  font-size: 1.5vw;
  align-items: flex-end;
  flex-wrap: wrap;
  /* justify-items: center; */
  justify-content: stretch;
  /* justify-content: stretch; */
  /* /* text-align: left; */
  /* justify-content: cetner; */
}

.quiz-question > div {
  display:flex;
  /* height: 80%; */
  flex: 0 0 100%;
  /* flex: 0 0 200%; */
  flex-direction: column;
  margin: 0;
  color: var(--dark);
  line-height: 54px;
  font-size: 1.5vw;
  align-items: stretch;
  /* justify-content: center; */
  /* /* text-align: left; */
  justify-content: left;
}
.quiz-question > h2 {
  border-right: none;
  /* border-bottom: 4px solid var(--primary); */
  margin-bottom: 20px;
  /* padding-bottom: 10px; */
  /* text-align: left; */
  /* font-size: 2vw; */
  flex: 0 0 20%;
  flex-wrap: wrap;
  /* text-align: center; */
  text-align: left;
  padding-right: 0;
  /* justify-items: start; */
  padding-left: 5%;
  margin-left: 10px;
  margin-right: auto;
  border-left: 4px solid var(--primary);
  font-size: 1.5vw;
  line-height: 1.4;
}
.form-text {
  display: flex;
  max-height: 150px;
  margin-bottom: 25px;
  width:100%;
  font-size: 2vw;
}
form {
  display: inline-block;
  margin: 0 auto;
  align-items: center;
  text-align: center;

  /* justify-items: stretch; */
  /* flex-direction: column; */
}
.btn {
  /* background-color:rgba(68, 88, 119, 1); */
  /* color:rgba(238, 238, 247); */
  /* display: inline-flex; */
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 1.1;
  max-width: 255px;
  padding: 20px 52px;
  /* text-align: center; */
  align-items: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
}
.btn:hover{
  background-color:rgba(68, 88, 119, 0.7);
}

.btn-form{
  /* display:inline-flex; */
  /* flex-direction: row; */
  max-width: 100px;
  padding: 10px 20px;
  /* text-align: center; */
  /* text-align: center; */
  /* align-items: flex-start; */

}
.btn.btn-choice{
    /* background-color: var(--light); */
    background-color:rgba(65, 94, 138, 0.3);
    /* color: #f4e1d2; */
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    flex: 0 0 70%;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.21px;
    line-height: 1.1em;
    max-width: 512px;
    padding: 20px 0;
    /* vertical-align: top; */
    /* text-align: center; */
    align-items: center;
    /* justify-content: start; */
    /* justify-content: lef; */
    /* text-align:left; */
    /* padding: 20px 52px; */
    /* text-align: left; */
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;  
}
.btn-choice:hover {
  background-color:rgba(66, 44, 190, 0.7);

}

/* button {
    background-color: #247BA0;
    color: white;
    border-radius: 8px;
    /* display: flex; 
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;  
} */
/* #start { */
    /* margin-top: 0.6em; */
  /* } */
.hidden {
  display:none;
}
.answer-list-ul {
  /* align-items: ; */
  list-style-type: none;
  
  /* display: flex; */
  /* align-content: */
  /* align-content: left; */
  /* display: flex; */
  /* justify-content:space-between; */
  /* flex-direction: column; */
  /* flex-direction: column; */
  /* text-align: left; */
}
.answer-list-item {
  font-size: 1em;
  
  /* list-style: none; */
  /* margin-right: auto; */
  

  /* list-style-typ: none; */
  /* background-color:yellow; */
}


@media screen and (max-width: 720px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }
  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
  .quiz-question > h2,
  .quiz-question > div {
    flex: 0 0 100%;
  }

  .quiz-question > h2 {
    border-right: none;
    /* border-bottom: 4px solid var(--primary); */
    margin-bottom: 20px;
    /* padding-bottom: 10px; */
    text-align: left;
    font-size: 3.5vw;
  }
}
