* {
    box-sizing: border-box;
  }
  
  /* brand color palette */
  :root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
}
header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: ; */
    flex-wrap: wrap;
    align-items:center;
    background-color: var(--secondary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}  

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
  }
#interact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
  }
/* .choices {
    list-style: none;
} */
#start {
    background-color: #247BA0;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  /* @media screen {

  } */